<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard – Scan2Dine</title>
  <link rel="stylesheet" href="/css/6_homeOrDashboard.css">
</head>
<body>

  <h1>Welcome, Hotel Manager</h1>

  <p>Use the options below to manage your restaurant operations efficiently:</p>

  <ul class="dashboard-buttons">
    <li><a href="/manager-orders"><button>View Orders</button></a></li>
    <li><a href="/manage-menu"><button>Add Food Item</button></a></li>
    <li><a href="/display-menu"><button>Display Menu</button></a></li>
    <li><a href="/add-table"><button>Add New Table</button></a></li>
    <li><a href="/show-qr"><button>QR codes</button></a></li>
    <li><a href="/display-profile"><button>Profile</button></a></li>
    <li><a href="/login"><button>Logout</button></a></li>
  </ul>

  <footer>
    <p>© 2025 Scan2Dine | Dashboard</p>
  </footer>

</body>
</html>
